@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.patrick-hand-regular {
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 2rem;
    background-color: #ffffffd8;
    border: 2px solid #ffffff;
    box-shadow: 0 0 100px #ffffff;
    width: 24rem;
    height: 32rem;
    transition: all 0.3s ease;
}

.content:hover {
    transform: scale(1.05);
}

.img {
    width: 15rem;
    height: 15rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    font-family: "Patrick Hand", cursive;
    margin-bottom: 1rem;
}

.text {
    font-size: 1rem;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    text-align: justify;
}